.root{
    width: 70vw;
    margin-left: calc(50% - 35vw);
}

#listCpxs{
    list-style: none;
}

.formCupinxada{
    margin-left: calc(50% - 8.5em);
    width: 17em;
    margin-top: 1em;
    border-color: rgb(133, 80, 143);
  }
  
  .btnForm{
    background-color: rgb(133, 80, 143);
    box-shadow: 0px 0px 5px .6px #2d1966;
    color: white;
    border-radius: 0%!important;
    margin-left: 47vw;
  }
  