<div class="root">
    <form class="formCupinxada">
        <mat-form-field class="example-full-width">
            <mat-label style="color: #CE93D8">Participante</mat-label>
            <mat-select>
                <mat-option *ngFor="let x of cpxs" [value]="valor">
                    {{x.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <div class="animated fadeIn">
        <ul *ngFor="let i of atividades" class="root">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{i.local}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{i.data}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <li *ngFor="let b of i.participantes" id="listCpxs">
                        <br>{{b.nome}}
                    </li>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                </mat-expansion-panel>
            </mat-accordion>
        </ul>
    </div>
</div>