@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');
.contents{
  position: absolute;
  // background-image: linear-gradient(to right,  #CE93D8, #48367d);
  background-image: linear-gradient(to bottom right, #48367d, #190e35);
  width: 100%;
  height: 100vw;
  z-index: -1;
}

#navbar{
  box-shadow: 0px 0px 5px 4px #2d1966;
  background-color: #48367d;
  display: block;
  z-index: 1;
}
#btns{
  margin-left: 2em!important;  
}
.spacer {
  float: right;
  margin-left: 55%;
}

#btns a{
  border-color: #fff;
  color: white;
  border-color: white;
}

#btns a:hover{
  border-color: #CE93D8;
  color: #CE93D8;
  transition: .12s ease-in;
}

#brandLetter{
  color: #fff;
  font-family: 'Cookie', cursive;
}

#brand img{
  margin-top: 8%!important;
}
