<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<div class="animated fadeIn">
    <mat-toolbar id="navbar">
        <mat-toolbar-row>
          <span routerLink="/" id="brand"><img src="../assets/brandQuentao.png" alt="" width="50px"></span><span
            id="brandLetter">Quentao.TS</span>
          <span class="spacer"></span>
          <div id="btns" >
            <a mat-stroked-button routerLinkActive="active" routerLink="eventos">Eventos</a>
            <a mat-stroked-button routerLinkActive="active" routerLink="cupinxas"  style="margin-left: 5%;">Cupinxas</a>
            <a mat-stroked-button routerLinkActive="active" routerLink="atividades" style="margin-left: 5%;">Atividades</a>
            <a mat-stroked-button routerLinkActive="active" routerLink="girias" style="margin-left: 5%;">Girias</a>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="contents">
        <router-outlet></router-outlet>
      </div>
      
</div>
