<div class="animated fadeIn">
  <form (ngSubmit)="onSubmit()" id="cpxForm" #cpxForm="ngForm">
    <div class="formCupinxada">
      <mat-form-field class="formCupinxada">
        <mat-label style="color: #CE93D8">Nome</mat-label><input matInput type="text" id="nome" name="nome"
          [(ngModel)]="cpx.nome" required #nome="ngModel">
      </mat-form-field>
      <br>
      <mat-form-field class="formCupinxada">
        <mat-label style="color: #CE93D8">Idade</mat-label>
        <input matInput type="text" id="idade" name="idade" [(ngModel)]="cpx.idade" required #idade="ngModel">
      </mat-form-field>
    </div>
    <button class="btnForm" type="submit" [disabled]="!cpxForm.form.valid" mat-button>Submit</button>
  </form>

    <div class="cupinxada">
      <mat-card style="margin-top: .5em;" class="cpxCard" *ngFor="let x of cpxs">
        <mat-card-header>
          <div mat-card-avatar class="imageCpx"></div>
          <mat-card-title><span style="margin-left: 4em">{{x.nome}}</span></mat-card-title>
          <mat-card-subtitle><span style="margin-left: 5.5em">Quentão.TS</span></mat-card-subtitle>
        </mat-card-header>
      </mat-card>
  </div>

</div>

<!-- <img mat-card-image src="https://i.imgur.com/hgApWQf.jpg"> -->