#gridCpxs{
    color: white;
}
.cupinxada{
    margin-top: 3em;
    // flex-direction: inherit;
    display: flex;
    margin-left: calc(50% - 11.5em);
    flex-direction: column;
    width: 23em;

}


.cpxCard {
    // max-width: 500px;
    margin-left: .6%;
    
  }
  
  .imageCpx {
    background-image: url('https://i.pinimg.com/originals/0e/65/e7/0e65e7640340a16068734dd46468fb9f.png');
    background-size: cover;
  }


.formCupinxada{
  margin-left: calc(50% - 8.5em);
  width: 17em;
  margin-top: 1em;
  border-color: rgb(133, 80, 143);
}

.btnForm{
  background-color: rgb(133, 80, 143);
  box-shadow: 0px 0px 5px .6px #2d1966;
  color: white;
  border-radius: 0%!important;
  margin-left: 47vw;
}

