<div class="animated fadeIn">
    <div class="cupinxada">
        <mat-card style="margin-top: .5em;" class="cpxCard" *ngFor="let x of girias">
            <mat-card-header>
                <mat-card-title><span>{{x.palavra}}</span></mat-card-title>
                <mat-card-subtitle><span>{{x.definicao}}</span></mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

</div>

<!-- <img mat-card-image src="https://i.imgur.com/hgApWQf.jpg"> -->