#gridCpxs{
    color: white;
}
.cupinxada{
    margin-top: 3em;
    // flex-direction: inherit;
    display: flex;
    margin-left: calc(50% - 11.5em);
    flex-direction: column;
    width: 23em;

}


.cpxCard {
    // max-width: 500px;
    margin-left: .6%;
    
  }
  
  .imageCpx {
    background-image: url('https://i.pinimg.com/originals/0e/65/e7/0e65e7640340a16068734dd46468fb9f.png');
    background-size: cover;
  }
